@{
    ViewBag.Title = GlobalResources.Web.Views.Home.Index.Title;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@GlobalResources.Web.Views.Home.Index.Instruction</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">@GlobalResources.Web.Views.Home.Index.LearnMore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@GlobalResources.Web.Views.Home.Index.GettingStarted</h2>
        <p>
            @GlobalResources.Web.Views.Home.Index.Content
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@GlobalResources.Web.Views.Home.Index.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@GlobalResources.Web.Views.Home.Index.GetMoreLibraries</h2>
        <p>@GlobalResources.Web.Views.Home.Index.LibrariesContent</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@GlobalResources.Web.Views.Home.Index.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@GlobalResources.Web.Views.Home.Index.WebHosting</h2>
        <p>@GlobalResources.Web.Views.Home.Index.WebHostingContent</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@GlobalResources.Web.Views.Home.Index.LearnMore &raquo;</a></p>
    </div>
</div>