<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalResources.Web.Views.Shared._Layout.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(GlobalResources.Web.Views.Shared._Layout.Index, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(GlobalResources.Web.Views.Shared._Layout.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(GlobalResources.Web.Views.Shared._Layout.About, "About", "Home")</li>
                    <li>@Html.ActionLink(GlobalResources.Web.Views.Shared._Layout.Contact, "Contact", "Home")</li>
                </ul>
                <div style="padding-top:10px;">
                    <select id="lang" name="lang" class="form-control">
                        <option value="en-US" @(GlobalResources.CultureHelper.GetCurrentLanguage() == GlobalResources.Language.English ? "selected" : "")>English</option>
                        <option value="zh-TW" @(GlobalResources.CultureHelper.GetCurrentLanguage() == GlobalResources.Language.TraditionalChinese ? "selected" : "")>繁體中文</option>
                        <option value="ja-JP" @(GlobalResources.CultureHelper.GetCurrentLanguage() == GlobalResources.Language.Japanese ? "selected" : "")>日本語</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @GlobalResources.Web.Views.Shared._Layout.Title</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#lang").on("change", function () {
            $.ajax({
                url: "/Home/SwitchLanguage",
                data: { lang: $(this).val() },
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            });
        });
    })
</script>
